@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url("../img/bk1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;   
}

.heading
{
 font-family:'Poiret One', sans-serif;
 margin-top: -15px;
}
.admin_heading{
    position:absolute;
}