*{
	
	
	margin:0px;
	padding:0px;
	
}

body
{
	
	width :100%;
	
}

#online{
	
	
	 font-style:italic;
	
	}




.anch{
	
	 position :relative;
     top:70px;
	 
     }
#sign1{
	
	margin-right:50px;
	
}

#sign2{
	
	margin-left:50px;
	
}

.submit{
	
	margin-right:5px;
	
}

.back{
	
	margin-left:70px;
	
}
#form1,#form2{
	
	 position :relative;
     top:150px;
	
}
#head1{
	
	
 position :relative;
 top:100px;
	
}

.sub{
	
	position :relative;
     top:30px;
	
}


@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.shake {
	display:inline-block
}


/*

@-webkit-keyframes thumb {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(0.9); }
	100% { -webkit-transform: scale(1); }
}

.shake:hover
{
	-webkit-animation-name: thumb;
	-webkit-animation-duration: 200ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;
}*/